.menu-hero {
    height: 55vh;
    background: #073c36;
    padding: 20px;
    display: grid;
    place-items: center;
    position: relative;
}

.main-menu-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #fff;
    position: absolute;
    text-align: center;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    padding: 30px;
}

.main-menu-hero h2 {
    font-size: clamp(1.25rem, 3vw + 1rem, 2.5rem);
    line-height: 1.65;
    color: #fff;
    font-weight: 400;
}

.main-menu-hero p {
    font-size: 18px;
    line-height: 1.45;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
}

.main-menu-hero .menu-btn a {
    border: 1px solid #fff;
    padding: 10px 25px;
    border-radius: 45px;
    font-family: 'Montserrat', sans-serif;
}

.main-menu-hero .menu-btn a:hover {
    background-color: #fff;
    color: #073c36;
    transition: all 400ms ease-in-out;
}

.menu-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.menu-section-2 .section-2-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.menu-section-2 .section-2-btn .btn {
    border: 1px solid #073c36;
    padding: 5px 15px;
    border-radius: 45px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.45;
}

.menu-section-2 .section-2-btn .btn:hover {
    background-color: #073c36;
    color: #fff;
    transition: all 200ms ease-in;
}

.menu-section-2 .section-2-main {
    gap: 3rem;
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: repeat(3, minmax(80px, 1fr));
}

.menu-section-2 .section-2-main .main-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.45;
    font-family: 'Montserrat', sans-serif;
    color: #073c36;
    margin-top: 20px;
    font-weight: 600;
}

/* responsive for tablet */
@media screen and (min-width: 768px) and (max-width: 1025px) {
    .menu-hero {
        height: 40vh;
    }
}

/* responsive for mobile */
@media screen and (max-width: 767px) {

    .main-menu-hero p {
        width: 100%;
        font-size: 15px;
    }

    .main-menu-hero .menu-btn {
        font-size: 15px;
    }

    .menu-section-2 {
        padding: 30px;

    }

    .menu-section-2 .section-2-main {
        grid-template-columns: repeat(1, minmax(80px, 1fr));
    }

    .menu-section-2 .section-2-btn .btn {
        padding: 5px 10px;
    }


}